@keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 0.2; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fadeOut {
    from { opacity: 0.2; }
    to { opacity: 1.0; }
}

.cmd, .cmd .prompt, .cmd .command {
  color: #0c0;
  text-shadow: 0 0 3px rgba(0,100,0,50);
}
.cmd .cursor.blink {
  background: #0c0;
  animation: blink 1s linear infinite;
  -webkit-animation: blink 1s infinite linear;
  -ms-animation: blink 1s infinite linear;
  -moz-animation: blink 1s infinite linear;
  -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
  -moz-box-shadow: 0 0 5px rgba(0,100,0,50);
  -ms-box-shadow: 0 0 5px rgba(0,100,0,50);
  -o-box-shadow: 0 0 5px rgba(0,100,0,50);
  box-shadow: 0 0 5px rgba(0,100,0,50);
}

.fadeOut {
    animation:fadeOut 6000ms;
    -webkit-animation:fadeOut 6000ms;
}

#loading-cap {
  margin: 1em 0 0 1em;
  font-family: FreeMono, monospace;
  font-size: 12px;
  font-weight: bold;
  color: #0c0;
  text-shadow: 0 0 3px rgba(0,100,0,50);
  animation: blink 2s linear infinite;
  -webkit-animation: blink 2s infinite linear;
  -ms-animation: blink 2s infinite linear;
  -moz-animation: blink 2s infinite linear;
}

#_templates, #_form {
  display: none;
}

object { /* trick */
  display: none !important;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
}

code, strong, h2 {
  color: #FCFCFC;
  font-weight: bold;
}

em {
  color: #FCFCFC;
}

ul {
  padding-left: 0;
  list-style: none;
}

ol {
  padding-left: 2.5em;
}

h2 {
  margin: 1em 0;
  font-size: 12px;
  text-transform: uppercase;
}

[class^=icon-] {
  font-size: 14px;
  vertical-align: middle;
  padding-right: 0.5em;
}

[class^=icon-]:before {
    width: 1em;
    display: inline-block;
}

.icon-celular:before {
  content: "\e600"
}

.oferta {
  font-style: italic;
  border-bottom: double;
  padding: 0.5em 0;
  display: inline-block !important;
}

table.help {
  margin-bottom: 1em;
}

table.help tr td:first-child {
  padding-right: 1em;
}

table.products {
  margin-bottom: 1em;
  border-collapse: collapse;
}

table.products td{
  vertical-align: top;
}

table.products td:last-child {
  text-align: right;
  padding-left: 1.5em;
}

table.products tbody td {
  padding: 0.25em 0;
}

table.products tbody td:first-child {
  padding-right: 1.5em;
}

table.products tbody tr:last-child td {
  padding-bottom: 0.5em !important;
}

table.products tfoot td {
  text-align: right;
}

table.products tfoot tr:first-child td {
  border-top: double;
  padding-top: 0.5em;
}

table.success {
  margin: 1.5em 0;
}

table.success tr td:first-child {
  padding-right: 2em;
}

.detalhes p:last-child {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: double;
}